# Data Cleaning

In [99]:
import sys
import os
import pandas as pd
import numpy as np

import warnings

sys.path.append(os.path.abspath('..'))

import scripts.data_processing as dp
import importlib
importlib.reload(dp)

warnings.filterwarnings('ignore')

df = pd.read_csv('../data/raw/Anonimowa_ankieta_zarobkowa_2025_data_acolyte.csv')

In [100]:
# Zmiana nazw kolumn3
df.columns = [
    'pracuje_z_danymi',
    'oczekiwania_junior',
    'stanowisko',
    'typ_umowy',
    'wymiar',
    'zarobki',
    'doswiadczenie',
    'narzedzia'
]

In [101]:
df = dp.clean_salary_column(df, "zarobki")
df = dp.clean_salary_column(df, "oczekiwania_junior")
df = dp.clean_experience_column(df, "doswiadczenie")

In [102]:
df_pracujący, df_niepracujący = dp.split_dataset(df)

In [103]:
df_pracujący = dp.clean_tools_column(df_pracujący, "narzedzia")
df_pracujący = dp.clean_working_dataset(df_pracujący)
df_niepracujący = dp.clean_jobseekers_dataset(df_niepracujący)

In [104]:
df_niepracujący.head()

   pracuje_z_danymi  oczekiwania_junior
1               Nie              4000.0
4               Nie              8000.0
7               Nie              5000.0
8               Nie              7000.0
10              Nie              8000.0

In [105]:
df_pracujący.head()

,pracuje_z_danymi,stanowisko,typ_umowy,wymiar,zarobki,doswiadczenie,narzedzia
0,Tak,Analityk danych,UoP,Pełen etat,8000.0,2.0,"[SAP, Power BI, Excel]"
2,Tak,Analityk danych,UoP,Pełen etat,10000.0,4.0,"[Power BI, SQL, Tableau, Power Automate]"
3,Tak,Automatyzator,Własna firma,2 etaty..,17000.0,6.0,"[Python, AI, LangChain, N8N, PHP, Laravel, Js]"
5,Tak,Analityk handlowy w energetyce,UoP,Pełen etat,7000.0,2.0,"[Excel, Power BI, Python]"
6,Tak,Analityk danych,UoP,Pełen etat,7000.0,1.0,"[Excel, SQL, Power BI]"