# Data Cleaning

In [113]:
import sys
import os
import pandas as pd
import numpy as np

import warnings

sys.path.append(os.path.abspath('..'))

import scripts.data_processing as dp
import importlib
importlib.reload(dp)

warnings.filterwarnings('ignore')

df = pd.read_csv('../data/raw/Anonimowa_ankieta_zarobkowa_2025_data_acolyte.csv')

In [114]:
print(f"Liczba respondentów: {len(df)}")
print(f"Liczba kolumn: {len(df.columns)}")
print("\n" + "="*50)
df.head()

Liczba respondentów: 40
Liczba kolumn: 8

==================================================

,Czy pracujesz już z danymi,Jakie są twoje oczekiwania na pierwszym stanowisku? (netto),Na jakim stanowisku pracujesz?,Jaką masz umowę?,W jakim wymiarze?,Ile zarabiasz netto?,Ile masz lat doświadczenia komercyjnego?,"Z jakimi narzędziami pracujesz? (wymień po przecinku np. excel, sql, power bi)"
0,Tak,NaN,Analityk danych,UoP,Pełen etat,8k,2 lata,"SAP, power bi, excel"
1,Nie,4k,NaN,NaN,NaN,NaN,NaN,NaN
2,Tak,NaN,Analityk danych,UoP,Pełen etat,10k,4 lata,"Power bi, sql, tableau, power automate"
3,Tak,NaN,Automatyzator,Własna firma,2 etaty..,17k i więcej,6 lat i więcej,"python,ai,langchain,n8n,php,laravel,js,typescr..."
4,Nie,8k,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
# Info o typach danych
print("STRUKTURA DANYCH:\n")
df.info()

print("\n" + "="*50)
print("\nBRAKUJĄCE WARTOŚCI:\n")
df.isnull().sum()

STRUKTURA DANYCH:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 8 columns):
 #   Column                                                                          Non-Null Count  Dtype
---  ------                                                                          --------------  -----
 0   Czy pracujesz już z danymi                                                      40 non-null     object
 1   Jakie są twoje oczekiwania na pierwszym stanowisku? (netto)                     17 non-null     object
 2   Na jakim stanowisku pracujesz?                                                  23 non-null     object
 3   Jaką masz umowę?                                                                23 non-null     object
 4   W jakim wymiarze?                                                               23 non-null     object
 5   Ile zarabiasz netto?                                                            23 non-null     object
 6   Ile masz lat doświadczenia komercyjnego?                                        23 non-null     object
 7   Z jakimi narzędziami pracujesz? (wymień po przecinku np. excel, sql, power bi)  23 non-null     object
dtypes: object(8)
memory usage: 2.6+ KB

==================================================

BRAKUJĄCE WARTOŚCI:

Czy pracujesz już z danymi                                                         0
Jakie są twoje oczekiwania na pierwszym stanowisku? (netto)                       23
Na jakim stanowisku pracujesz?                                                    17
Jaką masz umowę?                                                                  17
W jakim wymiarze?                                                                 17
Ile zarabiasz netto?                                                              17
Ile masz lat doświadczenia komercyjnego?                                          17
Z jakimi narzędziami pracujesz? (wymień po przecinku np. excel, sql, power bi)    17
dtype: int64

In [116]:
# Zmiana nazw kolumn3
df.columns = [
    'pracuje_z_danymi',
    'oczekiwania_junior',
    'stanowisko',
    'typ_umowy',
    'wymiar',
    'zarobki',
    'doswiadczenie',
    'narzedzia'
]

print("Nowe nazwy kolumn:")
print(df.columns.tolist())

Nowe nazwy kolumn:
['pracuje_z_danymi', 'oczekiwania_junior', 'stanowisko', 'typ_umowy', 'wymiar', 'zarobki', 'doswiadczenie', 'narzedzia']

In [117]:
print("ZAROBKI - UNIKALNE WARTOŚCI:\n")
print(df['zarobki'].value_counts().sort_index())

ZAROBKI - UNIKALNE WARTOŚCI:

zarobki
10k             2
11k             1
13k             2
15k             2
17k i więcej    2
3k i mniej      1
5k              3
6k              3
7k              5
8k              1
9k              1
Name: count, dtype: int64

In [120]:
df = dp.clean_salary_column(df, "zarobki")
df = dp.clean_salary_column(df, "oczekiwania_junior")
df = dp.clean_experience_column(df, "doswiadczenie")

df.head(30)

,pracuje_z_danymi,oczekiwania_junior,stanowisko,typ_umowy,wymiar,zarobki,doswiadczenie,narzedzia
0,Tak,NaN,Analityk danych,UoP,Pełen etat,8000.0,2.0,"SAP, power bi, excel"
1,Nie,4000.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Tak,NaN,Analityk danych,UoP,Pełen etat,10000.0,4.0,"Power bi, sql, tableau, power automate"
3,Tak,NaN,Automatyzator,Własna firma,2 etaty..,17000.0,6.0,"python,ai,langchain,n8n,php,laravel,js,typescr..."
4,Nie,8000.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Tak,NaN,Analityk handlowy w energetyce,UoP,Pełen etat,7000.0,2.0,"excel, power bi, python"
6,Tak,NaN,Analityk danych,UoP,Pełen etat,7000.0,1.0,"Excel, SQL, Power Bi"
7,Nie,5000.0,NaN,NaN,NaN,NaN,NaN,NaN
8,Nie,7000.0,NaN,NaN,NaN,NaN,NaN,NaN
9,Tak,NaN,Analityk danych,UoP,Pełen etat,5000.0,2.0,"Excel, SQL"
10,Nie,8000.0,NaN,NaN,NaN,NaN,NaN,NaN
11,Tak,NaN,Ekspert ds. Optymalizacji,Zlecenie,1/2 etatu,15000.0,4.0,"Python, Julia, JavaScript, Excel, SQL, LaTeX"
12,Nie,8000.0,NaN,NaN,NaN,NaN,NaN,NaN
13,Tak,NaN,Analityk danych,UoP,Pełen etat,5000.0,2.0,"Excel, power bi"
14,Tak,NaN,Power BI developer,UoP,Pełen etat,6000.0,1.0,"Power bi, sql, excel"
15,Tak,NaN,BI Analityk,UoP,Pełen etat,7000.0,5.0,"Tableau, excel"
16,Nie,8000.0,NaN,NaN,NaN,NaN,NaN,NaN
17,Nie,5000.0,NaN,NaN,NaN,NaN,NaN,NaN
18,Tak,NaN,Analityk danych,UoP,Pełen etat,9000.0,6.0,Excel
19,Tak,NaN,Power BI developer,B2B,Pełen etat,17000.0,5.0,"Sql, power bi, power query, databricks, fabric"
20,Tak,NaN,Analityk danych,B2B,Pełen etat,13000.0,6.0,"excel, t-sql, sql, power bi desktop, power bi ..."
21,Tak,NaN,Analityk danych,B2B,Pełen etat,15000.0,5.0,"Power BI, Fabric, SSMS, Azure, SSRS"
22,Nie,8000.0,NaN,NaN,NaN,NaN,NaN,NaN
23,Tak,NaN,"Analityk w dzile controllingu (dużo Excela, tr...",UoP,Pełen etat,6000.0,4.0,"Excel, DAX, SQL, PBI"
24,Nie,3000.0,NaN,NaN,NaN,NaN,NaN,NaN
25,Tak,NaN,Power BI developer,UoP,Pełen etat,11000.0,4.0,"Power BI, SQL, Excel, Power Automate, Power Apps"
26,Nie,5000.0,NaN,NaN,NaN,NaN,NaN,NaN
27,Nie,6000.0,NaN,NaN,NaN,NaN,NaN,NaN
28,Tak,NaN,Analityk danych,UoP,Pełen etat,5000.0,2.0,"Power Query, Power BI, Looker Studio, Flourish..."
29,Nie,5000.0,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
df_pracujący, df_niepracujący = dp.split_dataset(df)

print(f"Liczba pracujących respondentów: {len(df_pracujący)}")
print(f"Liczba niepracujących respondentów: {len(df_niepracujący)}")

Liczba pracujących respondentów: 23
Liczba niepracujących respondentów: 17